{% with %}
  {% set page = "my preferences" %}
  {% set title = "My preferences" %}
  {% include "header.j2" %}
{% endwith %}

<p>
These are some trivial preferences of mine.
</p>
<p>
My preferred text editor is (Neo)Vim. At some point, I'd be willing to try
Emacs, but right now I don't have enough time to properly learn and customize
it. I'm probably already way too invested in Vim.
</p>
<p>
My favorite beer styles are Imperial Stouts, Barleywines and Scotch ales. I
rarely drink IPAs outside of summer.
</p>
<p>
I prefer functional programming over object-oriented programming and I really
like Haskell and Scheme. Click <a href="{{ "BASE_URL" | env }}/preferences">here</a>
to read my opinion on recursion. My current job involves mostly writting Python
and I am ok with that.
</p>
<p>
I like dynamic tiling window manager and XMonad is my favorite one. While I'd
like to move to Wayland at some point, I find XMonad's workflow supperior to
Sway's.
</p>
<p>
My daily driver is a corebooted Thinkpad X230 with an X220 keyboard that runs
NixOS. I also use a librebooted Thinkpad X60 that runs OpenBSD.
</p>
<p>
My NAS is an Odroid HC4 running Debian GNU/Linux (I would have preferred
Alpine, but Debian has official support on that device).
My media center is a Raspberry Pi 4 running Alpine Linux.
My router is a Linksys WRT3200ACM running OpenWRT.
</p>
<p>
My phone is a Google Pixel 3a running GrapheneOS.
</p>
<p>
My main publicly accessible server is a VPS running Alpine. I also use another
VPS running OpenBSD as a mail server.
</p>
<p>
I like split ergonomic mechanical keyboard and trackballs. My two daily drivers
are an ErgoDox EZ and a Ploopy Classic Trackball.
</p>
<p>
I pracactice Ashtanga Vinyasa Yoga and Calisthenics using rings.
</p>


{% include "footer.j2" %}
