<h2>Certifications</h2>
<div class="flex-jobs">

<dl class="job">
  <dt>certification</dt>
  <dd><em>Google Cloud Certified</em> - <strong>Professional Cloud Architect</strong></dd>
  <dt>issue date</dt><dd><span class="date">14 Dec 2022</span></dd>
  <dt>expiration date</dt><dd><span class="date">14 Dec 2024</span></dd>
  <dt>series id</dt><dd>68917</dd>
  <dt>certification id</dt><dd>6vkQ5o</dd>
</dl>
</div>
