<h2>Research</h2>

<h3>Published software</h3>

<div class="flex-jobs">
<dl class="job">
  <dt>name</dt>
  <dd><em>NucleosomeDynamics</em></dd>
  <dt>language</dt>
  <dd>R and C</dd>
  <dt>function</dt>
  <dd>Suite for nucleosome positioning analysis using MNase-seq</dd>
  <dt>forms</dt>
  <dd>
    <ul>
      <li><a href="http://github.com/gthar/NucleosomeDynamics">Standalone R package</a></li>
      <li><a href="https://mmb.irbbarcelona.org/NucleosomeDynamics/">Backend to the NucleosomeDynamics web service</a></li>
      <li><a href="https://www.multiscalegenomics.eu/">Tool integrated within the VRE of the Multiscale Genomics European project</a></li>
    </ul>
  </dd>
</dl>
</div>

<h3>Congresses attended</h3>

<div class="flex-jobs">

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">2016</span></dd>
  <dt>name</dt>
  <dd><em>15th European Conference on Computational Biology</em></dd>
  <dt>location</dt>
  <dd><strong>World Forum Convention Center</strong> <span class="note">(The Hague, Nederlands)</span></dd>
  <dt>poster presented</dt>
  <dd>NucleosomeDynamics: a web portal to analyze and visualize MNase-seq data</dd>
</dl>

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">2016</span></dd>
  <dt>name</dt>
  <dd><em>XIII Symposium in Bioinformatics</em></dd>
  <dt>location</dt>
  <dd><strong>Universidad politécnica de Valencia</strong> <span class="note">(Valencia, Spain)</span></dd>
  <dt>talk given</dt>
  <dd>NucleosomeDynamics: a web portal to analyze and visualize MNase-seq data</dd>
</dl>
</div>

<h3>Workshops given</h3>

<div class="flex-jobs">

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">2017</span></dd>
  <dt>name</dt>
  <dd><em>Multi-scale study of 3D Chromatin Structure</em></dd>
  <dt>location</dt>
  <dd><strong>European Bioinformatics Institute</strong> <span class="note">(Cambridge, UK)</span></dd>
  <dt>topic I covered</dt>
  <dd>MNase-seq data analysis using the MuG research environment</dd>
</dl>

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">2017</span></dd>
  <dt>name</dt>
  <dd><em>Multi-scale genomics</em></dd>
  <dt>location</dt>
  <dd><strong>Barcelona Supercomputing Center</strong> <span class="note">(Barcelona)</span></dd>
  <dt>topic I covered</dt>
  <dd>MNase-seq data analysis using the MuG research environment</dd>
</dl>

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">2016</span></dd>
  <dt>name</dt>
  <dd><em>3DAROC 2016</em></dd>
  <dt>location</dt>
  <dd><strong>Instituto Gulbenikan de la ciéncia</strong> <span class="note">(Lisboa, Portugal)</span></dd>
  <dt>topic I covered</dt>
  <dd>MNase-seq data analysis using the NucleosomeDynamics portal</dd>
</dl>

</div>

<h3>Internships</h3>

<div class="flex-jobs">

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">2011-2013</span></dd>
  <dt>descr.</dt>
  <dd>
    <ul>
      <li><em>Master&rsquo;s internship</em></li>
      <li><em>Colaboration scolarship</em></li>
      <li><em>Degree&rsquo;s internship</em></li>
    </ul>
  </dd>
  <dt>group</dt>
  <dd><strong>Protein folding and conformational diseases</strong></dd>
  <dt>institution</dt>
  <dd>Institute of Biotechnology and Biomedicine <span class="note">(Barcelona)</span></dd>
</dl>

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">2012</span></dd>
  <dt>descr.</dt>
  <dd><em>Internship</em></dd>
  <dt>group</dt>
  <dd><strong>Peptide synthesis and protein structure</strong></dd>
  <dt>institution</dt>
  <dd>Institute for Research in Biomedicine <span class="note">(Barcelona)</span></dd>
</dl>

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">2011</span></dd>
  <dt>descr.</dt>
  <dd><em>Exchange Student</em></dd>
  <dt>department</dt>
  <dd><strong>Biophysics and radiadion biology</strong></dd>
  <dt>institution</dt>
  <dd>Semmelweis University <span class="note">(Budapest)</span></dd>
</dl>

</div>

<h3>Publications</h3>

<ul>
    <li><a href="https://academic.oup.com/nar/article/47/18/9511/5557727">Buitrago D, Codó L, Illa R, et al. Nucleosome Dynamics: a new tool for the dynamic analysis of nucleosome positioning. Nucleic Acids Res. 2019;47(18):9511-9523. doi:10.1093/nar/gkz759</a></li>
    <li><a href="https://academic.oup.com/nar/article/44/9/4052/2462513">Dans PD, Danilāne L, Ivani I, et al. Long-timescale dynamics of the Drew-Dickerson dodecamer. Nucleic Acids Res. 2016;44(9):4052-4066. doi:10.1093/nar/gkw264</a></li>
    <li><a href="https://academic.oup.com/nar/article/43/W1/W331/2467935">Zambrano R, Conchillo-Sole O, Iglesias V, et al. PrionW: a server to identify proteins containing glutamine/asparagine rich prion-like domains and their amyloid cores. Nucleic Acids Res. 2015;43(W1):W331-W337. doi:10.1093/nar/gkv490</a></li>
    <li><a href="https://www.future-science.com/doi/10.4155/fso.15.39">Navarro S, Diaz-Caballero M, Illa R, Ventura S. Aggregation propensity of neuronal receptors: potential implications in neurodegenerative disorders. Future Sci OA. 2015;1(2):FSO39. Published 2015 Sep 1. doi:10.4155/fso.15.39</a></li>
    <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4076991/">Fraga H, Graña-Montes R, Illa R, Covaleda G, Ventura S. Association between foldability and aggregation propensity in small disulfide-rich proteins. Antioxid Redox Signal. 2014;21(3):368-383. doi:10.1089/ars.2013.5543</a></li>
</ul>
