<h2>Professional experience</h2>
<div class="flex-jobs">

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">January 2021 - current</span></dd>
  <dt>company</dt>
  <dd><strong>Trakken</strong></dd>
  <dt>position</dt>
  <dd><em>Data Engineer</em></dd>
  <dt>duties</dt>
  <dd>
    <ul>
      <li>Design and implement data infrastructure</li>
      <li>Develop and maintain internal tooling</li>
    </ul>
  </dd>
  <dt>technologies</dt>
  <dd>
    <ul>
      <li>Apache Airflow</li>
      <li>BigQuery</li>
      <li>Apache Beam</li>
      <li>Google Cloud Platform</li>
      <li>Python</li>
    </ul>
  </dd>
</dl>

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">June 2019 - October 2020</span></dd>
  <dt>company</dt>
  <dd><strong>Lead Ratings</strong></dd>
  <dt>position</dt>
  <dd><em>Data Engineer</em></dd>
  <dt>duties</dt>
  <dd>
    <ul>
      <li>Develop and maintain a data-centered ML SaaS platform</li>
      <li>Assist Data Scientists' internal workflow</li>
      <li>Develop connectors to third party platforms</li>
    </ul>
  </dd>
  <dt>technologies</dt>
  <dd>
    <ul>
      <li>Python</li>
      <li>Django</li>
      <li>Amazon web services</li>
      <li>Docker and Docker Swarm</li>
      <li>Redis</li>
      <li>MySQL</li>
      <li>Elasticsearch</li>
      <li>Numpy and Pandas</li>
      <li>Git</li>
    </ul>
  </dd>
</dl>

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">July 2018 - June 2020</span></dd>
  <dt>company</dt>
  <dd><strong>Sellbytell Group</strong></dd>
  <dt>position</dt>
  <dd><em>GCP Support Engineer</em> <span class="note">(Big Data and ML specialist)</span></dd>
  <dt>duties</dt>
  <dd>
    <ul>
      <li>Provide Big Data and Machine Learning technical support to Google Cloud Platform users</li>
      <li>Troubleshoot and debug customer&rsquo;s issues</li>
    </ul>
  </dd>
  <dt>technologies</dt>
  <dd>
    <ul>
      <li>Google Cloud Platform</li>
      <li>BigQuery</li>
      <li>Google Dataflow / Apache Beam</li>
      <li>Google Composer / Apache Airflow</li>
      <li>Google Cloud Pub/Sub</li>
      <li>Python</li>
    </ul>
  </dd>
</dl>

<dl class="job">
  <dt><span class="date">period</span></dt>
  <dd><span class="date">November 2013 - April 2018</span></dd>
  <dt>institution</dt>
  <dd><strong>Institute for Research in Biomedicine</strong> <span class="note">(Barcelona)</span></dd>
  <dt>group</dt>
  <dd><strong>Molecular Modeling and Bioinformatics</strong></dd>
  <dt>position</dt><dd><em>PhD Student</em></dd>
  <dt>duties</dt>
  <dd>
    <ul>
      <li>Perform bioinformatics research on Nucleosome Positioning</li>
      <li>Develop and implement statistical analysis methods</li>
      <li>Develop and maintain R packages</li>
      <li>Integrate my code into bigger genomics frameworks</li>
    </ul>
  </dd>
  <dt>technologies</dt>
  <dd>
    <ul>
      <li>R</li>
      <li>C</li>
      <li>Python</li>
      <li>Bioconductor</li>
      <li>Sun Grid Engine</li>
      <li>MongoDB</li>
    </ul>
  </dd>
</dl>

</div>
